[submodule "libft"]
	path = libft
	url = git@github.com:loichu/libft.git
[submodule "push_swap_visualizer"]
	path = push_swap_visualizer
	url = https://github.com/o-reo/push_swap_visualizer.git
[submodule "push_swap_tester"]
	path = push_swap_tester
	url = https://github.com/SimonCROS/push_swap_tester.git
[submodule "lmalki_tester"]
	path = lmalki_tester
	url = https://github.com/lmalki-h/push_swap_tester.git
